*{
    margin: 0;
    padding: 0;
}
.card-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    border-radius: 16px;
    min-height: 18rem;
}

/* cabeçalho do card */
.card-header{
    margin: 1rem;
    display: flex;
}
.card-header h4{
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
    border-left: 5px solid blue;
    border-radius: 3px;
}

/* conteudo do card */
.card-body{
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: #fff;
}

/* Form-group full */
.form-group-full{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.form-group-full label{
    display: flex;
    justify-content: start;
    font-size: 14px;
}

/* Form-group grid */

.form-group-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px 14px;
}
.form-group-grid .form-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px;
}
.form-group-grid .form-group label{
    display: flex;
    justify-content: start;
}
.form-group-grid label{
    display: flex;
    justify-content: start;
    font-size: 14px;
}

/* input do form-group */
.form-group input{
    height: 18px;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 8px;
    transition: all 0.4s ease-in-out;
    outline: none;
    background-color: #F1F4F8;
}

/* Botões */
.buttons{
    display: flex;
    gap: 1rem;
}
.btn-register button{
    width: 100%;
    height: 30px;
    padding: 7px;
    border: none;
    border-radius: 10px;
    background-color: #3a49d6;
    font-weight: bold;
    color: lightgray;
    transition: all 0.4s ease;
}
.btn-register button:hover{
    transform: scale(1.1);
    box-shadow: 0 2px 3px black;
    color: #3a49d6;
    background: lightgray;
}
.btn-register button:active{
    color: lightgray;
    background: #3a49d6;
    transform: scale(0.9);
}

.btn-clean button{
    width: 100%;
    height: 30px;
    padding: 7px;
    border: none;
    border-radius: 10px;
    background-color: #a4a4a5;
    font-weight: bold;
    color: white;
    transition: all 0.4s ease;
}
.btn-clean button:hover{
    transform: scale(1.1);
    box-shadow: 0 2px 3px black;
    color: #a4a4a5;
    background: whitesmoke;
}
.btn-clean button:active{
    color: whitesmoke;
    background: #a4a4a5;
    transform: scale(0.9);
}
