.RegisterTeachers{
    display: flex;
    min-height: 100vh;
    background-color: var(--bg-color);
}
.RegisterTeachers-form{
    display: flex;
    align-items: start;
    flex: 1;
    justify-content: center;
    padding: 2rem;
}

@media (max-width: 768px) {
    .RegisterTeachers {
        flex-direction: column;
    }

    .RegisterTeachers-form {
        width: 100%;
    }
}
