:root{
  --bg-color: #e6e6e6;
  --card-color: #f1f1f1;
  --navbar-color: #10259b;
  --text-color: #dddcdc;
  --btn-color: #3335b3;
  --box-shadow: #5e5e5eef;
}

*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}